:root {
  --name: "Apprentice";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #bcbcbc;
  --color-primary: #5f8787;
  --color-secondary: #6c6c6c;
  --color-background: #262626;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}