html {
  --name: "Atom Light";
  --appearance: light;
  --opacity: 0.9;
  --color-text: #383a42ff;
  --color-primary: #4078f2ff;
  --color-secondary: #ccccccff;
  --color-background: #fbfcfcff;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}