:root {
  --name: "Catppuccin Mocha";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #cdd6f4;
  --color-primary: #cba6f7;
  --color-secondary: #585b70;
  --color-background: #1e1e2e;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --serif-font: "ui-serif", "Georgia", "Cambria", '"Times New Roman"', "Times", "serif";
}
