:root {
  --name: "Catppuccin Latte";
  --appearance: light;
  --opacity: 0.9;
  --color-text: #4c4f69;
  --color-primary: #8839ef;
  --color-secondary: #acb0be;
  --color-background: #eff1f5;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --serif-font: "ui-serif", "Georgia", "Cambria", '"Times New Roman"', "Times", "serif";
}
