:root {
  --name: "Cobalt2 Flat";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #ffffff;
  --color-primary: #ffc600;
  --color-secondary: #0d3a58;
  --color-background: #193549;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}