:root {
  --name: "Dayfox";
  --appearance: light;
  --opacity: 0.9;
  --color-text: #3d2b5a;
  --color-primary: #4d688e;
  --color-secondary: #8e6f98;
  --color-background: #f6f2ee;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}