:root {
  --name: "Everforest Dark";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #d3c6aa;
  --color-primary: #a7c080;
  --color-secondary: #5c6a72;
  --color-background: #272e33;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}