:root {
  --name: "GitHub Dark Dimmed";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #adbac7;
  --color-primary: #539bf5;
  --color-secondary: #373e47;
  --color-background: #22272e;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}