html {
  --name: "GitHub Light Colorblind";
  --appearance: light;
  --opacity: 0.9;
  --color-text: #24292f;
  --color-primary: #0969da;
  --color-secondary: #d0d7de;
  --color-background: #ffffff;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}