:root {
  --name: "Horizon";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #e0e0e0;
  --color-primary: #ee64ac;
  --color-secondary: #6c6f93;
  --color-background: #1c1e26;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}