:root {
  --name: "Iceberg";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #c6c8d1;
  --color-primary: #84a0c6;
  --color-secondary: #6b7089;
  --color-background: #161821;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}