:root {
  --name: "Kanagawa";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #dcd7ba;
  --color-primary: #7fb4ca;
  --color-secondary: #54546d;
  --color-background: #1f1f28;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}