:root {
  --name: "Material Deep Ocean";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #8f93a2;
  --color-primary: #84ffff;
  --color-secondary: #1e2a35;
  --color-background: #0f111a;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}