:root {
  --name: "Modus Vivendi";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #ffffff;
  --color-primary: #00bcff;
  --color-secondary: #989898;
  --color-background: #000000;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}