:root {
  --name: "Nightfox";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #cdcecf;
  --color-primary: #81b29a;
  --color-secondary: #738091;
  --color-background: #192330;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}