html {
    --name: "Script Kit Light";
  --appearance: light;
  --opacity: 0.5;
  --color-text: #2C2C2C;
  --color-primary: #2F86D3;
  --color-secondary: #2F86D3;
  --color-background: #ffffff;
  --ui-bg-opacity: 0.1;
  --ui-border-opacity: 0.1;
  
  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
  }