:root {
  --name: "Spaceduck";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #ecf0c1;
  --color-primary: #5ccc96;
  --color-secondary: #686f9a;
  --color-background: #0f111b;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}