:root {
  --name: "Zenburn";
  --appearance: dark;
  --opacity: 0.9;
  --color-text: #dcdccc;
  --color-primary: #cc9393;
  --color-secondary: #6f6f6f;
  --color-background: #3f3f3f;
  --ui-bg-opacity: 0.6;
  --ui-border-opacity: 0.6;

  --mono-font: JetBrains Mono;
  --sans-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif-font: 'ui-serif', 'Georgia', 'Cambria', '"Times New Roman"', 'Times',
    'serif';
}